.box {
    composes: pr-4 pl-4 pt-25 from global;
    display: flex;
    width: 100%;
    height: 100%;
    flex-direction: column;
    box-sizing: border-box;
}
.wrapper {
    min-height: 40px;
    max-height: 100%;
    overflow: hidden auto;
    list-style: none;
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: calc(var(--offset-base-size) * 4);
    box-sizing: border-box;
    composes: mt-4 mb-4 custom-scroll from global;
}
.total {
    composes: pt-10 pb-10 from global;
    display: flex;
    justify-content: flex-end;
}

.ingredientsBox {
    position: inherit;
    display: flex;
    flex-direction: column;
    max-height: 100%;
    min-height: 0;
}

.whenHoverDrop {
    transform: scale(110%);
}