.box {
    composes: pr-4 pl-4 pt-25 from global;
    display: flex;
    width: 100%;
    flex-direction: column;
    box-sizing: border-box;
}
.wrapper {
    min-height: 40px;
    overflow: auto;
    list-style: none;
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: calc(var(--offset-base-size) * 4);
    box-sizing: border-box;
    composes: mt-4 mb-4 from global;
}
.total {
    composes: pt-10 pb-10 from global;
    display: flex;
    justify-content: flex-end;
}

.price {
    composes: text text_type_digits-medium pr-10 from global;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
}