.wrapper {
    composes: burger-app-flex-column-center from global;
    gap: calc(var(--offset-base-size) * 20);
}

.form {
    composes: burger-app-flex-column-center from global;
    gap: calc(var(--offset-base-size) * 6);
}

.link {
    composes: text text_type_main-small from global;
    color: var(--burger-app-link-color);
    text-decoration: none;
}

.link_label {
    composes: text text_type_main-small from global;
    color: var(--burger-app-link-label-color);
}

.bottom_block {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 6px;
}

.error {
    composes: text text_type_main-small from global;
    color: red;
    padding: 5px 0;
}