.nav ul, .nav li {
    margin: 0;
    padding: 0;
    list-style: none;
}

.menuButton {
    composes: p-5 from global;
    display: flex;
    align-items: center;
    cursor: pointer;
}

.menuButtonText {
    composes: pl-2 text text_type_main-default from global;
    text-decoration: none;
    color: var(--burger-app-nav-link-color);
}

.hovered {
    color: var(--burger-app-nav-link-active-color);
}

.nav ul {
    display: flex;
    flex-direction: row;
}