:root {
  --burger-app-width: 1280px;
  --burger-app-content-width: 1240px;
  --burger-app-modal-width: 720px;
  --burger-app-modal-content-width: 520px;
}

body {
  margin: 0;
  padding: 0;
  color: #F2F2F3;
}

ul,li,p {
  margin: 0;
  padding: 0;
}


.burger-app {
  display: grid;
  grid-template-areas:
  "header"
  "content";
  grid-template-rows: min-content 1fr;
  width: 100vw;
  height: 100vh;
}

.burger-app header {
  grid-area: header;
  display: flex;
  justify-content: center;
  background: #1C1C21;
  box-shadow: 0px 4px 8px 0px #0000000A;
}

.burger-app main {
  grid-area: content;
  justify-self: center;
}
