:root {
  --burger-app-width: 1280px;
  --burger-app-content-width: 1240px;
  --burger-app-link-color: #4C4CFF;
  --burger-app-link-label-color: #8585AD;
  --burger-app-nav-link-color: #8585AD;
  --burger-app-nav-link-active-color: #F2F2F3;
  --burger-app-modal-width: 720px;
  --burger-app-modal-content-width: 520px;
  --burger-app-header-height: 96px;
}

body {
  margin: 0;
  padding: 0;
  color: #F2F2F3;
}

ul,li,p {
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
}

.burger-app {
  display: grid;
  grid-template-areas:
  "header"
  "content";
  grid-template-rows: min-content 1fr;
  width: 100vw;
  height: 100vh;
}

.burger-app header {
  grid-area: header;
  display: flex;
  justify-content: center;
  background: #1C1C21;
  box-shadow: 0 4px 8px 0 #0000000A;
}

.burger-app main {
  grid-area: content;
  justify-self: center;
}

.burger-app-container {
  height: calc(100vh - var(--burger-app-header-height));
}

.burger-app-flex-column-center {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}